[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pre-commit = "*"
requests-mock = "*"
coverage = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[packages.pSub]
editable = true
path = "."
